body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  color: #000;
  background-color: #fff;
}
iframe {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
